
<form method="post" action="/locations/<%=@location.id%>/edit">
  <label for="name">Name</label>
  <input type="text" name=location_name id=location_name value="<%=  @location.location_name %>">
  <input type="submit"  value="Edit Location">

</form>
