<h1>CHANGED YOUR MIND?</h1>

<h3>PLEASE ENTER THE NEW LOCATION YOU WISH TO VISIT</h3>

<div class="form">
<form method="post" action="/locations/<%=@location.id%>/edit">

  <label for="name">NAME</label>
  <input type="text" name=location_name id=location_name value="<%=  @location.location_name %>">
  <input type="submit"  value="Edit Location">

</form>
</div>
