<h1>locations</h1>

<table>
  <%@locations.each do |location| %>
  <p>location: <%=location.location_name%></p>
</table>

<p><a href="/locations/<%= location.id %>">Edit Location</a></p>

<form action="/locations/<%=location.id%>/delete" method="POST">
  <input type="submit" value="delete" />
</form>


<% end %>
