<h1>locations</h1>

<table>

  <% for location in @locations %>
  <tr>
    <td><a href="/locations/<%= location.id %>"><%= location.location_name %></a></td>
    <td>|</td>

  </tr>
  <% end %>
</table>
