<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Add new Journey</title>
  <h1>Add new Journey</h1>

</head>
<body>
  <p>please work</p>

  <h2>Create new Journey</h2>

<form method="post" action="/homepage/visited" >


  <label for="realm_name">Select a realm:</label>
  <select name="realm" id="realm-selection">
    <option value="Niflheim">Niflheim</option>
    <option value="Muspelheim">Muspelheim</option>
    <option value="Asgard">Asgard</option>
  </select>

  <label for="location_name">Select a location:</label>
  <select name="location" id="location-selection">
    <option value="Hvergelmir">Hvergelmir</option>
    <option value="River of flame">River of flame</option>
    <option value="Great Hall">Great Hall</option>
  </select>




  <input type="submit" value="Add Journey">
</form>


<!--
<h2>Enter new Journey</h2>
<form method="POST" action="/newjourney">
<div class="form-wrapper">

<div class="form-el">
<label for="realm_name">Realm Name:</label>
<input type="text" name="realm_name" id="realm_name"/>
</div>

<div class="form-el">
<label for="location_name">Location Name:</label>
<input type="text" name="location_name" id="location_name"/>
</div>

<div class="form-el">
<input type="submit" value="Add new Journey"/>
</div>

</div>
</form> -->

</body>
</html>
