

    <form method="post" action="/locations">

    <label for="location-name">Select a Location:</label>
    <input type=“text” name=location_name id=location_name>


    <label> realm:
      <select name="realm_id" id="realm_id_select">
        <% for realm in @realms %>
          <option value=<%= realm.id %>><%= realm.realm_name %></option>
        <% end %>
      </select>
    </label>
    <input type="submit" value="add location">
  </form>
