<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Create new Journey</title>
</head>

<body>



    <!-- <label for="realm-selection">Select a Realm:</label>
    <select name="Realm" id="realm">
      <option value="Niflheim">Niflheim</option>
      <option value="Muspelheim">Muspelheim</option>
      <option value="Asgard">Asgard</option>
    </select> -->
    <form method="post" action="/locations">

    <label for="location-selection">Select a Location:</label>
    <select name="location_name" id="location_id">
      <option value="Hvergelmir">Hvergelmir</option>
      <option value="River of flame">River of flame</option>
      <option value="Great Hall">Great Hall</option>
    </select>
    <input type="submit" value="add location">


  </form>
</body>

</html>
