<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Create new Journey</title>
</head>

<body>



    <!-- <label for="realm-selection">Select a Realm:</label>
    <select name="Realm" id="realm">
      <option value="Niflheim">Niflheim</option>
      <option value="Muspelheim">Muspelheim</option>
      <option value="Asgard">Asgard</option>
    </select> -->
    <form method="post" action="/locations">

    <label for="location-selection">Select a Location:</label>
    <select name="location_name" id="location_id">
      <option value="Hvergelmir">Hvergelmir</option>
      <option value="River of flame">River of flame</option>
      <option value="Great Hall">Great Hall</option>
      <option value="Bifrost the Rainbow Bridge">Bifrost the Rainbow Bridge</option>
      <option value="Mimir’s well of wisdom">Mimir’s well of wisdom</option>
      <option value="The seeing lakes of Vanaheim">The seeing lakes of Vanaheim</option>
      <option value="Alfheim Sanctuary">Alfheim Sanctuary</option>
      <option value="The Great Forge">The Great Forge</option>
      <option value="The Hellway">The Hellway</option>

    </select>
    <input type="submit" value="add location">


  </form>
</body>

</html>
