
<h1>ADD NEW LOCATION </h1>
<h3>PLEASE ENTER A NEW LOCATION YOU WISH TO VISIT.</h3>


<div class="form">

<form method="post" action="/locations">
  <label for="location-name">SELECT A LOCATION:</label>
  <input type=“text” name=location_name id=location_name>


  <label> REALM:
    <select name="realm_id" id="realm_id_select">
      <% for realm in @realms %>
      <option value=<%= realm.id %>><%= realm.realm_name %></option>
      <% end %>
    </select>
  </label>
  <input type="submit" value="add location">
</form>
</div>
