<table>
  <%@locations.each do |location| %>
  <p>location: <%=location.location_name%></p>
</table>

<form action="/locations/<%=location.id%>/delete" method="POST">
  <input type="submit" value="delete" />
</form>


<p><a href="/locations/<%=location.id%>/update">update Location</a></p>
<% end %>
