<form method="post" action="/realms/<%=@realm.id%>/edit">
  <label for="name">Name</label>
  <input type="text" name=realm_name id=realm_name value="<%=  @realm.realm_name %>">
  <input type="submit"  value="Edit Realm">

</form>
