<h1>REALMS</h1>
<h3>A VIEW OF ALL VISITED REALMS</h3>


<div class="table">
<table>
  <%@realms.each do |realm| %>
  <p>REALM: <%=realm.realm_name%></p>
</table>

<p><a href="/realms/<%= realm.id %>/edit" style="text-decoration: none">EDIT REALM</a></p>

<form action="/realms/<%=realm.id%>/delete" method="POST">
  <input type="submit" value="delete" />
</form>

<%end%>
</div>
