<h1>REALMS</h1>

<table>
  <%@realms.each do |realm| %>
  <p>realm:<%=realm.realm_name%></p>
</table>

<p><a href="/realms/<%= realm.id %>/edit">Edit Realm</a></p>

<form action="/realms/<%=realm.id%>/delete" method="POST">
  <input type="submit" value="delete" />
</form>

<%end%>
