<h1>Realms</h1>

<table>
  <%@realms.each do |realm| %>
  <p>realm:<%=realm.realm_name%></p>
</table>

<form action="/realms/<%=realm.id%>/delete" method="POST">
  <input type="submit" value="delete" />
</form>

<%end%>
