<h1>ADD NEW REALM</h1>
<h3>PLEASE ENTER THE REALM YOU WOULD LIKE TO VISIT.</h3>


<form method="post" action="/realms">

<label for="realm-name">Select a Realm:</label>
<input type=“text” name=realm_name id=realm_name>



<input type="submit" value="add Realm">
</form>
