<h1>ADD NEW REALM</h1>
<h3>PLEASE ENTER THE REALM YOU WOULD LIKE TO VISIT.</h3>

<div class="form">
  <form method="post" action="/realms">

    <label for="realm-name">SELECT A REALM:</label>
    <input type=“text” name=realm_name id=realm_name>
    <input type="submit" value="add Realm">

  </form>
</div>
