<h1>Add new Realm</h1>
<h3>please enter the realm you wish to visit.</h3>


<form method="post" action="/realms">

<label for="realm-name">Select a Realm:</label>
<input type=“text” name=realm_name id=realm_name>



<input type="submit" value="add Realm">
</form>
