
<h1>RAIDING THE REALMS</h1>
<h2>A TRAVEL APP TO HELP TRACK YOUR JOURNEYS THROUGH THE 9 REALMS!</h2>


<!-- <form action="/locations/new" method="get">
    <input type="submit" value="add new journey"
         name="Submit" id="frm1_submit" />
</form> -->


<!-- <form action="/locations" method="get">
    <input type="submit" value="view locations"
         name="Submit" id="frm1_submit" />
</form> -->
