<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Raiding the Realms</title>
    <nav>
      <a href="/locations/new">add new location</a>
      <a href="/locations">View locations</a>
      <a href="/realms/new">add new realm</a>
      <a href="/realms">View realms</a>
      <a href="/visits/new">add new journey</a>
      <a href="/visits">View journeys</a>

    </nav>


  </head>

  <body>
<h1>Raiding the Realms</h1>
  </body>
</html>


<!-- <form action="/locations/new" method="get">
    <input type="submit" value="add new journey"
         name="Submit" id="frm1_submit" />
</form> -->


<!-- <form action="/locations" method="get">
    <input type="submit" value="view locations"
         name="Submit" id="frm1_submit" />
</form> -->
