
<h1>Raiding the Realms</h1>


<!-- <form action="/locations/new" method="get">
    <input type="submit" value="add new journey"
         name="Submit" id="frm1_submit" />
</form> -->


<!-- <form action="/locations" method="get">
    <input type="submit" value="view locations"
         name="Submit" id="frm1_submit" />
</form> -->
