<h1>Raiding the realms</h1>

<p>Welcome to the bifrost</p>

<h1>Raiding the realms</h1>

<p>Welcome to the bifrost</p>
<p>did this work</p>


<form action="/locations/new" method="get">
    <input type="submit" value="add new journey"
         name="Submit" id="frm1_submit" />
</form>
