<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Raiding the Realms</title>
  </head>
  <body>
        <nav>
          <a href="/locations/new">add new location</a>
          <a href="/locations">View locations</a>
          <a href="/realms/new">add new realm</a>
          <a href="/realms">View realms</a>
          <a href="/visits/new">add new journey</a>
          <a href="/visits">View journeys</a>

        </nav>
      <%=yield%>
  </body>
</html>
