<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Raiding the Realms</title>

      <link rel="icon" href="/images/tab_logo2.jpeg"/>
      <link href="https://fonts.googleapis.com/css?family=Quicksand|Skranji" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/styles/structure.css">
      <link rel="stylesheet" type="text/css" href="/styles/forms.css">

  </head>

  <body>


    <div class="nav">
      <ul>
        <li class="add new realms"><a href="/realms/new">ADD NEW REALM</a></li>
        <li class="View realms"><a href="/realms">VIEW REALMS</a></li>
        <li class="add new location"><a href="/locations/new">ADD NEW LOCATION</a></li>
        <li class="view location"><a href="/locations">VIEW LOCATIONS</a></li>
        <li class="add new Journey"><a href="/visits/new">ADD NEW JOURNEY</a></li>
        <li class="add new Journey"><a href="/visits">VIEW JOURNEYS</a></li>
      </ul>
    </div>




      <%=yield%>
  </body>
</html>
