<h1>Raiding the realms</h1>

<p>Welcome to the bifrost</p>
<p>did this work</p>


<form action="/homepage/visited" method="get">
    <input type="submit" value="Visited"
         name="Submit" id="frm1_submit" />
</form>


<form action="/homepage/tovisit" method="get">
    <input type="submit" value="To visit"
         name="Submit" id="frm1_submit" />
</form>

<form action="/homepage/new" method="get">
    <input type="submit" value="new Journey"
         name="Submit" id="frm1_submit" />
</form>

<form action="/homepage/delete" method="get">
    <input type="submit" value="remove Journey"
         name="Submit" id="frm1_submit" />
</form>
