div.form
{
    display: block;
    text-align: center;
}
form
{
    color: #56445D;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Quicksand', sans-serif;

}


div.table {
    border-collapse: collapse;
    background-color: #444;
    font-family: 'Quicksand', sans-serif;
    color: #C5E99B;
}
div.href {
  font-family: 'Quicksand', sans-serif;
  color: #56445D;
}
