<h1>Journeys</h1>

<table>

  <% for realm in @realms %>
  <tr>
    <td><a href="/realms/<%= realm.id %>"><%= realm.realm_name %></a></td>
    <td>|</td>

  </tr>
  <% end %>


  <% for location in @locations %>
  <tr>
    <td><a href="/locations/<%= location.id %>"><%= location.location_name %></a></td>
    <td>|</td>

  </tr>
  <% end %>
</table>
