<h1>Journeys</h1>

<table>
  <%@visits.each do |visit| %>
  <p>Journey number: <%=visit.id%></p>
  <p>Location: <%=visit.location.location_name%></p>
  <p>Realm: <%= visit.location.realm.realm_name  %></p>
</table>

<form action="/visits/<%=visit.id%>/delete" method="POST">
  <input type="submit" value="delete" />
</form>



<% end %>
