<h1>Journeys</h1>

<table>
  <%@visits.each do |visit| %>
  <p>Journey number: <%=visit.id%></p>
  <p>Realm: <%=visit.realm.realm_name%></p>
  <p>Location: <%=visit.location.location_name%></p>




  <% end %>

</table>
