<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Create new Journey</title>
</head>

<body>


  <form method="post" action="/visits">


    <label for="location-selection">Select a Location:</label>
    <select name="location_id" id="location_id">
      <% for location in @locations  %>
        <option value="<%=location.id%>"> <%= location.location_name %></option>
      <% end %>
    </select>
    <input type="submit" value="add journey">
  </form>






</body>

</html>
