
<h1>WHERE WILL YOUR JOURNEY BEGIN?</h1>
<h3>PLEASE ENTER STARTING POINT FOR YOUR NEXT JOURNEY.</h3>

<div class="form">
<form method="post" action="/visits">

  <label for="location-selection">SELECT YOUR STARTING LOCATION:</label>
  <select name="location_id" id="location_id">
    <% for location in @locations  %>
    <option value="<%=location.id%>"> <%= location.location_name %></option>
    <% end %>
  </select>
  <input type="submit" value="add journey">

</form>
</div>
